.App {
  text-align: center;
  margin: 0 20.3125% 0 20.3125%;
  // border: 1px solid;
  height: 500px;

  .headerimagecontainer{
    width: 100%;
    height: 250px;
    // border: 1px solid saddlebrown;

    .headerimage {
      float: left;
      height: 250px;
      width: 16.66%;
      // border: 0px solid gray;
    }
  }
}

